<header>
    <nav class="navbar navbar-expand-sm navbar-light scrolling-navbar sticky-top" style="z-index: 250;">
        <div class="container-fluid">
            <div class="navbar-brand">
                <a data-activates="slide-out" class="mr-4" onclick="openSideNav()" data-toggle="tooltip" title="Menú lateral">
                    <i class="fas fa-bars fa-lg"></i>
                </a>
                <strong class="text-dark">
                    <span class="h3 font-weight-bold">App</span>
                </strong>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <div class="navbar-nav ml-auto">
                    {% if user %}
                        <div class="navbar-text">
                            <span class="user" data-toggle="tooltip" title="Usuario">
                                <i class="far fa-user"></i>
                                <span class="font-weight-bold">{{user}}</span>
                            </span>
                            <span class="base" data-toggle="tooltip" title="Base">
                                <strong class="font-weight-bold">0$</strong>
                            </span>
                        </div>
                        <a href="/logout" class="btn btn-dark btn-sm">
                            <i class="fas fa-sign-out-alt"></i> Salir
                        </a>
                        <a href="/register" class="btn btn-dark btn-sm">
                            <i class="fas fa-user-plus"></i> Registrar
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    <div id="slide-out" class="side-nav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeSideNav()">&times;</a>
        <div class="justify-content-center align-content-center text-center">
            <img src="{{url_for('static', filename='images/logo.png')}}" height="100" class="rounded" alt="Logo de la app">
        </div>
        {% if session['role'] == 'Administrador' %}
            <a href="/config">
                <i class="fas fa-tools"></i> Administrar
            </a>
        {% endif %}
        <a href="#">
            A link
        </a>
        <a href="#">
            A link
        </a>
        <a href="#">
            A link
        </a>
    </div>
</header>