{% extends "base.html" %}

{% block title %}Editar producto{% endblock %}
{% block content %}
    <section id="add-products">
        <div class="container-fluid">
            <div class="row g-0">
                <div class="col-lg-12 d-flex">
                    <div class="content-add-products mx-auto align-self-center p-5 justify-content-center">
                        <div class="card z-depth-5">
                            <h5 class="card-header bg-warning white-text text-center py-4">
                                <strong>Editar producto</strong>
                            </h5>
                            <div class="card-body px-lg-5 pt-0">
                                <form class="text-center" style="color: #757575;" action="/edit/product/{{product.0}}" method="POST">
                                    <div class="form-row">
                                        <div class="col">
                                            <!-- CODE -->
                                            <div class="md-form">
                                                <input type="text" name="code" value="{{product.0}}" id="materialRegisterFormFirstName" class="form-control" placeholder=" #256" aria-describedby="describeCode" required autofocus>
                                                <label for="materialRegisterFormFirstName">Código</label>
                                                <small id="describeCode" class="form-text text-muted mb-4">
                                                    *No incluir (#)
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <!-- NAME -->
                                            <div class="md-form">
                                                <input type="text" name="name" value="{{product.1}}" id="materialRegisterFormLastName" class="form-control" placeholder=" Arroz/papa.." required>
                                                <label for="materialRegisterFormLastName">Nombre</label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- COLUMNS -->
                                    <div class="form-row">
                                        <div class="col-4">
                                            <!-- STOCK -->
                                            <div class="md-form">
                                                <input type="number" name="stock" value="{{product.2}}" id="stockInput" class="form-control" placeholder="Eje. 10 o 50" required>
                                                <label for="stockInput">Cantidad</label>
                                            </div>
                                        </div>
                                        <div class="col-5">
                                            <!-- VALUE -->
                                            <div class="md-form">
                                                <input type="number" name="value" value="{{product.3}}" id="valueInput" class="form-control" placeholder="Eje. 10500" required>
                                                <label for="valueInput">Valor unitario</label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <!-- IVA -->
                                            <div class="md-form">
                                                <input type="number" name="iva" value="{{product.4}}" id="ivaInput" class="form-control" placeholder="Eje. 19%" aria-describedby="describeIva" required>
                                                <label for="ivaInput">IVA</label>
                                                <small id="describeIva" class="form-text text-muted mb-4">
                                                    *Sin (%)
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-6">
                                            <div class="md-form">
                                                <select name="category" class="browser-default custom-select" id="categoryInput">
                                                    <option value="{{product.6}}" selected> Categoría: {{product.6}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="md-form">
                                                <input type="date" name="expiration_date" value="{{product.7}}" id="dateInput" class="form-control" required>
                                                <label for="dateInput">Fecha de vencimiento</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="md-form">
                                        <input type="number" name="discount" value="{{product.5}}" id="discountInput" class="form-control" placeholder="Ejemplo: 50%" aria-describedby="describeIva">
                                        <label for="discountInput">Descuento</label>
                                        <small id="describeIva" class="form-text text-muted mb-4">
                                            *Opcional si hay descuento - *Sin (%)
                                        </small>
                                    </div>
                                    <button class="btn btn-outline-warning btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">
                                        <i class="fas fa-pen"></i> Editar
                                    </button>
                                    <p>o también puedes <a href="javascript: history.back(-1)">volver</a></p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}