{% extends "base.html" %}

{% block title %}Configuración{% endblock %}
{% block content %}
<section id="config">
    <div class="">
        <div class="container-fluid">
            <div class="row g-0">
                <div class="col-sm-3 d-flex">
                    <div class="content-config mx-auto align-self-center justify-content-center">
                        <div class="list-group">
                            <a href="/config" class="list-group-item list-group-item-action">
                                <i class="fas fa-eye"></i> Ver usuarios
                            </a>
                            <form action="/load" method="POST">
                                <button class="list-group-item list-group-item-action">
                                    <i class="fas fa-file-excel"></i> Cargar Excel
                                </button>
                            </form>
                            <a href="#!" class="list-group-item list-group-item-action">
                                <i class="fas fa-file-invoice"></i> Consultar facturas
                            </a>
                            <a href="javascript: history.go(-1)" class="list-group-item list-group-item-action">
                                <i class="fas fa-undo"></i> Volver
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9 d-flex">
                    <div class="content-config align-self-center justify-content-center my-5">
                        <table class="table table-striped w-auto text-center">
                            <thead class="black white-text">
                                <tr>
                                    <th>
                                        <i class="fas fa-id-card-alt"></i>
                                        Documento
                                    </th>
                                    <th>
                                        <i class="fas fa-address-card"></i>
                                        Tipo
                                    </th>
                                    <th>
                                        <i class="fas fa-file-signature"></i>
                                        Nombre
                                    </th>
                                    <th>
                                        <i class="fas fa-signature"></i>
                                        Apellido
                                    </th>
                                    <th>
                                        <i class="fas fa-at"></i>
                                        E-mail
                                    </th>
                                    <th>
                                        <i class="fas fa-user-tag"></i>
                                        Rol
                                    </th>
                                    <th>
                                        <i class="fas fa-cogs"></i>
                                        Acciones
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                <tr>
                                    <th scope="row">{{ user.0 }}</th>
                                    <td>{{ user.2 }}</td>
                                    <td>{{ user.1 }}</td>
                                    <td>{{ user.3 }}</td>
                                    <td>{{ user.4 }}</td>
                                    <td>{{ user.5 }}</td>
                                    <td class="d-inline-flex">
                                        <a href="/edit/user/{{user.0}}" class="btn btn-sm btn-warning">
                                            <i class="fas fa-user-edit"></i>
                                        </a>
                                        <!--<a href="/delete/user/{{user.0}}" class="btn btn-sm btn-danger">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>-->
                                    </td>
                                </tr>
                                {% else %}
                                <tr>
                                    No hay usuarios registrados
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot class="black text-white">
                                <tr>
                                    <th>Documento</th>
                                    <th>Tipo</th>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>E-mail</th>
                                    <th>Rol</th>
                                    <th>Acciones</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}